@using OyunArkadasım.Models.Entity
@model List<TBLUYEOYUNBILGI>
@{
    ViewBag.Title = "ValorantSıralama";
    Layout = "~/Views/Shared/LayoutUye.cshtml";
}
@{ int satirNo = 0; }
<style>
    h2 {
        color: #ffb676;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(255,193,113,1);
        margin-bottom: 20px;
        background: rgba(192,164,158,0.04);
        width: 100%;
        height: 60px;
        text-align: center;
        padding-top: 10px;
        border: 1px solid rgba(255,255,255,0.04);
        border-radius: 4px;
        margin: 20px auto;
        font-family: Constantia;
    }

    tr td {
        font-family: Constantia;
        font-size: 18px;
        color: #ffb676;
        text-align: center;
        border: 2px solid #420000;
    }

    tr {
        background: rgba(37, 19, 12, 0.24);
        font-family: Constantia;
        font-size: 20px;
        color: #dbc9b8;
        text-align: center;
        border: 2px solid #420000;
    }

        tr th {
            border: 2px solid #420000;
            font-family: Constantia;
            font-size: 20px;
            color: #f30000;
            text-align: center;
        }

    td a {
        height: 35px;
        overflow: hidden;
        border-radius: 4px;
        background: url(../../img/login_icon.png) top center;
        background-size: auto 100%;
        position: relative;
        padding: 5px 20px 5px 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

        td a:hover {
            filter: brightness(130%);
            text-decoration: none;
        }
</style>
<h2>VALORANT PUAN SIRALAMASI</h2>


<table class="table" style="border: 1px solid #ffb676;">
    <tr>
        <th>#</th>
        <th>NICKNAME</th>
        <th>DERECESİ</th>
        <th>MAIN ROL</th>
        <th>ÜYE ADI</th>
        <th>PROFİL PUANI</th>
        <th>PROFİL</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@(satirNo += 1)</td>
            <td>@p.NICKNAME</td>
            <td>@p.TBLDERECE.DereceAdı</td>
            <td>@p.TBLROL.RolAdı</td>
            <td>@p.TBLUYE.KULLANICIADI</td>
            <td>@p.PUAN</td>
            <td><a href="/Uye/UyeProfilGoster/@p.UYEID"></a></td>
        </tr>
    }
</table>

